
azuremcp
./azuremcp
/azuremcp
/azuremcp/.env
/azuremcp/lib
/azuremcp/lib/airbyte
/azuremcp/bin
/azuremcp/lib/*
/.git

venv/
azuremcp/
*.env
__pycache__/
*.pyc
.DS_Store


azuremcp/
*.env
__pycache__/
*.pyc
.DS_Store

.env
/.env